<head>

    <title>{{title}}</title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css"></link>
    <link rel="stylesheet" href="/css/main.css"></link>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.4.0/svg.min.js"></script>
	<script type="text/javascript" src="/jquery/jquery.min.js"></script>
    <script type="text/javascript" src='/bootstrap/js/bootstrap.min.js'></script>

    <!-- CSS -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/diff2html/2.0.12/diff2html.min.css">
 
<!-- Javascripts -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/diff2html/2.0.12/diff2html.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/diff2html/2.0.12/diff2html-ui.min.js"></script>

</head>
