


<div class="row, main-row">
    <div class="col-md-10 text-center small-padding" id="diff_container">
        <div id="diff_div"">
	
		</div>
    </div>
</div>

<script>

var diffstr = "diff --git a/controllers/repo.js b/controllers/repo.js\n\
index 9761de2..0d1b027 100644\n\
--- a/controllers/repo.js\n\
+++ b/controllers/repo.js\n\
@@ -169,7 +169,7 @@ Repo.prototype.diffHistory = function(branch_name) { // eg 'master'\n\
                                        return self._git.diff(history[index+1].id, commit.id)\n\
                                                .then(function(diff) {\n\
                                                        delete commit.parents;\n\
-                                                       console.log(JSON.stringify(diff));\n\
+                                                       //console.log(JSON.stringify(diff));\n\
                                                        return {\n\
                                                                \n\"commit\n\": commit,\n\
                                                                \n\"diffs\n\": diff._summary\n\
";

 	var diff2htmlUi = new Diff2HtmlUI({
		diff: diffstr
	});
	diff2htmlUi.draw('#diff_div', {inputFormat: 'diff', showFiles: false, matching: 'lines'});

</script>