<div id="container">
    <div id="top-container">
        <div class="my-row" id="top-row">
            <div class="text-center small-padding button-container">
                <button id="first_button" type="button">First</button>
            </div>
            <div class="text-center small-padding button-container" id="last-container">
                <button id="last_button" type="button">Last</button>
            </div>
        </div>
        <div class=="my-row" id="slider-row">
           <div id="slider-div"></div>
        </div>
    </div>
    <div id="canvas-container">
        <div class="popup" id="diff-popup"></div>
        <canvas id="canvas" class="canvas"></canvas>
    </div>

    <div class="my-row" id="bottom-row">
        <div class="text-left small-padding" id="filter-container">
            <input type="text" id="filter_input">  
            <button id="filter_button" type="button">Filter</button>
        </div>
        
        <div class="text-center" id="commit-container">
            <div id="commit_info"></div>
        </div>
    </div>
</div>

<script>
	$(document).ready(function() {

        $("#repo_canvas").resize(function() {
            console.log("canvas resized");
        });

        $("#canvas-container").resize(function() {
            console.log("container resized");
        });

        // this is required to make the canvas fill the entire div

        c = $("#canvas");
        container = $(c).parent();
        c.attr('width', $(container).width());
        c.attr('height', $(container).height());

		BranchViewer.init({{{repo_data}}});
	});
</script>

<script>
var diffstr = "diff --git a/controllers/repo.js b/controllers/repo.js\n\
index 9761de2..0d1b027 100644\n\
--- a/controllers/repo.js\n\
+++ b/controllers/repo.js\n\
@@ -169,7 +169,7 @@ Repo.prototype.diffHistory = function(branch_name) { // eg 'master'\n\
                                        return self._git.diff(history[index+1].id, commit.id)\n\
                                                .then(function(diff) {\n\
                                                        delete commit.parents;\n\
-                                                       console.log(JSON.stringify(diff));\n\
+                                                       //console.log(JSON.stringify(diff));\n\
                                                        return {\n\
                                                                \n\"commit\n\": commit,\n\
                                                                \n\"diffs\n\": diff._summary\n\
";

    var html = Diff2Html.getPrettyHtml(diffstr);
    var parsed = $(html);
    parsed.find('.d2h-code-linenumber').remove();
    parsed.find('td.d2h-info').remove();
    parsed.find('.d2h-code-line').css('margin-left', '0');
    $('#diff-popup').html(
        parsed.prop('outerHTML')
    );

</script>