<div class="row">
    <div class="col-md-2 text-center small-padding">
    </div>
    <div class="col-md-10 text-center small-padding">
      <div id="slider-div"></div>
    </div>
</div>
<div class="row" id="main-row">
    <div class="col-md-2 text-center small-padding">
        <canvas id="filenames" class="canvas"></canvas>
    </div>
    <div class="col-md-10 text-center small-padding" id="canvas_div">
        <canvas id="repo_canvas" class="canvas"></canvas>
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-left small-padding">
        <input type="text" id="filter_input">  
        <button id="filter_button" type="button">Filter</button>
    </div>
    <div class="col-md-1 text-center small-padding">
        <button id="back_button" type="button">Prev</button>
    </div>
    <div class="col-md-8 text-center small-padding">
        <div id="commit_info"></div>
    </div>
    <div class="col-md-1 text-center small-padding">
        <button id="next_button" type="button">Next</button>
    </div>
</div>
<textarea id="code_textarea"></textarea>
<script>
	$(document).ready(function() {

        // this is required to make the canvas fill the entire div

        var c = $("#repo_canvas");
        var container = $(c).parent();
        c.attr('width', $(container).width());
        c.attr('height', $(container).height());

        c = $("#filenames");
        var container = $(c).parent();
        c.attr('width', $(container).width());
        c.attr('height', $(container).height());

        c = $("#directories");
        var container = $(c).parent();
        c.attr('width', $(container).width());
        c.attr('height', $(container).height());

		    BranchViewer.init({{{repo_data}}});
	});
</script>