<div class="row">
    <div class="col-md-2 text-center small-padding">
    </div>
    <div class="col-md-10 text-center small-padding">
        <div id="slider-div"></div>
    </div>
</div>
<div class="row" id="main-row">
    <div class="popup" id="diff-popup"></div>
    <div class="col-md-2 text-center small-padding">
        <canvas id="filenames" class="canvas"></canvas>
    </div>
    <div class="col-md-10 text-center small-padding" id="canvas_div">
        <canvas id="repo_canvas" class="canvas"></canvas>
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-left small-padding">
        <input type="text" id="filter_input">  
        <button id="filter_button" type="button">Filter</button>
    </div>
    <div class="col-md-1 text-center small-padding">
        <button id="first_button" type="button">First</button>
    </div>
    <div class="col-md-8 text-center small-padding">
        <div id="commit_info"></div>
    </div>
    <div class="col-md-1 text-center small-padding">
        <button id="last_button" type="button">Last</button>
    </div>
</div>
<textarea id="code_textarea"></textarea>
<script>
	$(document).ready(function() {

        // this is required to make the canvas fill the entire div

        var c = $("#repo_canvas");
        var container = $(c).parent();
        c.attr('width', $(container).width());
        c.attr('height', $(container).height());

        c = $("#filenames");
        var container = $(c).parent();
        c.attr('width', $(container).width());
        c.attr('height', $(container).height());

        c = $("#directories");
        var container = $(c).parent();
        c.attr('width', $(container).width());
        c.attr('height', $(container).height());

		    BranchViewer.init({{{repo_data}}});
	});
</script>

<script>
var diffstr = "diff --git a/controllers/repo.js b/controllers/repo.js\n\
index 9761de2..0d1b027 100644\n\
--- a/controllers/repo.js\n\
+++ b/controllers/repo.js\n\
@@ -169,7 +169,7 @@ Repo.prototype.diffHistory = function(branch_name) { // eg 'master'\n\
                                        return self._git.diff(history[index+1].id, commit.id)\n\
                                                .then(function(diff) {\n\
                                                        delete commit.parents;\n\
-                                                       console.log(JSON.stringify(diff));\n\
+                                                       //console.log(JSON.stringify(diff));\n\
                                                        return {\n\
                                                                \n\"commit\n\": commit,\n\
                                                                \n\"diffs\n\": diff._summary\n\
";

    var html = Diff2Html.getPrettyHtml(diffstr);
    var parsed = $(html);
    parsed.find('.d2h-code-linenumber').remove();
    parsed.find('td.d2h-info').remove();
    parsed.find('.d2h-code-line').css('margin-left', '0');
    $('#diff-popup').html(
        parsed.prop('outerHTML')
    );

</script>