.container {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

.main-row {
  height: 85%;
  //height: 2000px;
  //width: 2000px;
  margin-bottom: 10px;
}

#canvas_div, #diff_container, #code_div, #filenames {
  height: 100%;
}

#code_textarea{
    height: 100%;
    width: 100%;
   display: none;
}

#diff_div{
    height: 100%;
    width: 100%;
}

textarea {
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
}

.nopadding {
   padding-left: 0;
   padding-right: 0;
}

.small-padding {
   padding-left: 2;
   padding-right: 2;
}

