.container {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

.main-row {
  height: 85%;
  //height: 2000px;
  //width: 2000px;
  margin-bottom: 10px;
}

#canvas_div {
  height: 100%;
}

#code_div {
  vertical-align: top;
}

#code{
    height: 10000;
    width: 100%;
    vertical-align: top;
   // display: none;
}

.nopadding {
   padding-left: 0;
   padding-right: 0;
}

.small-padding {
   padding-left: 2;
   padding-right: 2;
}

