

#canvas-container {
  height: 85%;
  margin: 20;
  overflow: scroll;
}

#filenames-container {
  overflow: scroll;
  display: inline-block;
  width: 15%;
  height: 100%;
}

#repo-container {
  overflow: scroll;
  float: right;
  width: 85%;
  height: 100%;
}

.popup {
    visibility: hidden;
    width: 45%;
    background-color: #EEF7FA;
    color: #000000;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 5;
    bottom: 5;
}



/* Toggle this class when clicking on the popup container (hide and show the popup) */
.show-left {
    visibility: visible;
    left: 5;
    right: ;
    //-webkit-animation: fadeIn 0.5s;
    //animation: fadeIn 0.5s
}

.show-right {
    visibility: visible;
    left: ;
    right: 5;
    //-webkit-animation: fadeIn 0.5s;
    //animation: fadeIn 0.5s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

//====


.container {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

#main-row {
  height: 85%;
  margin-bottom: 10px;
}

.row {
  margin-right: 10px;
}

#slider-div {
  margin-bottom: 2px;
}


#code_textarea{
    height: 100%;
    width: 100%;
   display: none;
}

#diff_div{
    height: 100%;
    width: 100%;
}

textarea {
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
}

.nopadding {
   padding-left: 0;
   padding-right: 0;
}

.small-padding {
   padding-left: 2;
   padding-right: 2;
}

.elessar-range {
  background: grey;
  height: 15px;
}

.elessar-rangebar {
  height: 15px;
}